<%= link_to "Back", root_path %>
<div class="row my-5">
  <div class="col-8">
    <h1><%= @article.title %>
    </h1>
    <small class="text-muted"><%=@article.created_at.strftime("erstellt am %d.%m.%Y, %H:%M Uhr")%></small>
  </div>
  <div class="col-2 p-1">
    <div class="d-grid">
      <%= link_to "Edit", edit_article_path(@article), class:'btn btn-secondary' %>
    </div>
  </div>
  <div class="col-2 p-1">
    <div class="d-grid">
      <!--  link_to executes a GET request per default. That's why the 'data'-option is needed, turbo_method causes the link to make a DELETE request-->
      <%= link_to "Destroy", article_path(@article), class:'btn btn-danger', data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %>
    </div>
  </div>
</div>
<p class="mb-5"><%= @article.body %></p>
<hr>
<div class="my-4" data-controller="comments">
  <div class="row">
    <div class="col-10 mb-4">
      <h3>Comments</h3>
    </div>
    <div class="col-2 p-1">
      <div class="d-grid">
        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseComments" aria-expanded="false" aria-controls="collapseExample" data-comments-target="button" data-action="click->comments#toggleButtonText">
          Show Comments
        </button>
      </div>
    </div>
  </div>
  <div class="collapse" id="collapseComments" data-turbo-frame="commentsFrame" data-comments-target="collapse">
    <!-- As the render method iterates over the @article.comments collection, it assigns each comment to a local variable
  named the same as the partial, in this case comment, which is then available in the partial for us to show.-->
    <%= render @article.comments %>
    <h5 class="mt-5">Add a comment:</h5>
    <!-- rails is smart enough to resolve comments/form to the form-partial located in app/views/comments -->
    <%= render "comments/form" %>
  </div>
</div>