<!-- the array passed to form_with model will build a nested route such as "/articles/1/comments" -->
<%= form_with model: [@article, @article.comments.build] do |form| %>
  <div class="mb-3">
    <%= form.label :commenter, "Author", class: 'form-label' %><br>
    <%= form.text_field :commenter, class: 'form-control'  %>
  </div>
  <div class="mb-3">
    <%= form.label :body, class: 'form-label' %><br>
    <%= form.text_area :body, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :status, class: 'form-label'%><br>
    <%= form.select :status, Visible::VALID_STATUSES, {selected:'public'}, class: 'form-select' %>
  </div>
  <%= form.submit class:'btn btn-primary' %>
<% end %>
