<%= link_to "Back", root_path %>
<div class="row mt-5">
  <div class="col-8">
    <h1><%= @article.title %></h1>
  </div>
  <div class="col-2 p-1">
    <div class="d-grid">
      <%= link_to "Edit", edit_article_path(@article), class:'btn btn-secondary' %>
    </div>
  </div>
  <div class="col-2 p-1">
    <div class="d-grid">
      <!--  link_to executes a GET request per default. That's why the 'data'-option is needed, turbo_method causes the link to make a DELETE request-->
      <%= link_to "Destroy", article_path(@article), class:'btn btn-danger', data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %>
    </div>
  </div>
</div>
<h6 class='text-muted pt-3'>Description</h6>
<p><%= @article.body %></p>
<hr>
<div class="card mt-5" data-controller="comments">
  <div class="card-header">
    Comments
  </div>
  <div class="card-body">
    <p>
      <button class="btn btn-sm btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseComments" aria-expanded="false" aria-controls="collapseExample" data-comments-target="button">
        Show Comments
      </button>
    </p>
    <div class="collapse" id="collapseComments" data-turbo-frame="commentsFrame" data-comments-target="collapse">
      <!-- As the render method iterates over the @article.comments collection, it assigns each comment to a local variable
  named the same as the partial, in this case comment, which is then available in the partial for us to show.-->
      <%= render @article.comments %>
    </div>
  </div>
</div>
<h2>Add a comment:</h2>
<!-- rails is smart enough to resolve comments/form to the form-partial located in app/views/comments -->
<%= render "comments/form" %>
